In [29]:
%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import sys
import sklearn
import seaborn as sns

In [30]:
X = pd.read_csv("SAheart.data")

In [31]:
X

,row.names,sbp,tobacco,ldl,adiposity,famhist,typea,obesity,alcohol,age,chd
0,1,160,12.00,5.73,23.11,Present,49,25.30,97.20,52,1
1,2,144,0.01,4.41,28.61,Absent,55,28.87,2.06,63,1
2,3,118,0.08,3.48,32.28,Present,52,29.14,3.81,46,0
3,4,170,7.50,6.41,38.03,Present,51,31.99,24.26,58,1
4,5,134,13.60,3.50,27.78,Present,60,25.99,57.34,49,1
...,...,...,...,...,...,...,...,...,...,...,...
457,459,214,0.40,5.98,31.72,Absent,64,28.45,0.00,58,0
458,460,182,4.20,4.41,32.10,Absent,52,28.61,18.72,52,1
459,461,108,3.00,1.59,15.23,Absent,40,20.09,26.64,55,0
460,462,118,5.40,11.61,30.79,Absent,64,27.35,23.97,40,0
461,463,132,0.00,4.82,33.41,Present,62,14.70,0.00,46,1

In [32]:
n_samples, n_features = X.shape
print(n_samples, n_features)

462 11

In [33]:
X.to_numpy()

array([[1, 160, 12.0, ..., 97.2, 52, 1],
       [2, 144, 0.01, ..., 2.06, 63, 1],
       [3, 118, 0.08, ..., 3.81, 46, 0],
       ...,
       [461, 108, 3.0, ..., 26.64, 55, 0],
       [462, 118, 5.4, ..., 23.97, 40, 0],
       [463, 132, 0.0, ..., 0.0, 46, 1]], dtype=object)

In [36]:
np.concatenate((np.ones((n_samples, 1)), X.to_numpy()), axis=1)

array([[1.0, 1, 160, ..., 97.2, 52, 1],
       [1.0, 2, 144, ..., 2.06, 63, 1],
       [1.0, 3, 118, ..., 3.81, 46, 0],
       ...,
       [1.0, 461, 108, ..., 26.64, 55, 0],
       [1.0, 462, 118, ..., 23.97, 40, 0],
       [1.0, 463, 132, ..., 0.0, 46, 1]], dtype=object)